{{! Load CSS First }}
<link href="../{{version}}/common.css" rel="stylesheet">

<div class="fragrance-destination-container">
	<!-- FRAGRANCE GUIDE - FULL WIDTH - TRENDING NOW - ACCENT BACKGROUND COLOR -->
	<div class="row fg-tn-container">
		<div class="small-12 columns">
			<!-- FRAGRANCE GUIDE - 1280 MAX - TRENDING NOW - BACKGROUND IMAGE -->
			<div class="row fg-tn-content-bg">
				<div class="small-12 columns">
					<!-- FRAGRANCE GUIDE - 982 MAX - TRENDING NOW - MAIN CONTENT -->
					{{> hero fragranceGuideTitle="Trending Now" pageNum="pageThree"}}
					<div class="row fg-tn-main-content">
						<div class="small-12 columns">
							<!-- FRAGRANCE GUIDE - ROW ONE - TRENDING NOW -->
							<div id="top">
								<div class="row fg-tn-row-one">
									<div class="small-12 columns">
										<h2>NOTE <br class="hide-for-large-up" />FROM ELISE</h2>
									</div>
								</div>
								<!-- FRAGRANCE GUIDE - ROW TWO - TRENDING NOW -->
								<div class="row fg-tn-row-two">
									<div class="small-12 columns">
										<img class="show-for-large-up" src="https://assets.macys.com/dyn_img/creativepages/C8080688_trendingNow_elise_dsk.jpg">
										<img class="hide-for-large-up" src="{{IMAGES_HOST}}elise_note_tablet.jpg">

										<p>
											Right now florals are having a moment. I love that they’re doing the unexpected and trending into the cold-weather seasons, both in fragrances & in fashion. <br class="show-for-large-up" />I’m personally much more of a spicy girl&mdash;the warm, distinct notes leave a lasting impression on my memory.<br />
											&mdash;<i>Elise Saetta, Beauty Director Macy’s <br class="hide-for-large-up" />Fashion Office</i>
										</p>

										<div></div>
									</div>
								</div>
							</div>
							<!-- FRAGRANCE GUIDE - ROW THREE - TRENDING NOW -->
							<div class="row fg-tn-row-three">
								<div class="small-12 columns">
									<img class="fd-desktop" src="https://assets.macys.com/dyn_img/creativepages/C8080688_trendingNow_fragrance_dsk.jpg">
									<img class="fd-mobile" src="{{IMAGES_HOST}}elsies_pick_tablet_02.jpg">

									<h3>ELISE'S PICKS</h3>

									<p>
										Gucci Bloom<br />
										Balenciaga Florabotanica<br />
										Tom Ford Mandarino Di Amalfi
									</p>
								</div>
							</div>
							<!-- FRAGRANCE GUIDE - ROW FOUR - TRENDING NOW -->
							<div class="row fg-tn-row-four">
								<div class="small-12 columns">
									<h3>BEHIND THE BOTTLE</h3>
								</div>
							</div>
							<!-- FRAGRANCE GUIDE - ROW FIVE - TRENDING NOW -->
							<div class="row fg-tn-row-five">
								<div class="small-12 columns">
									<!-- BEGIN SLIDER FOR MOBILE VIDEO SECTION -->
									<div class="fg-tn-slider slick-slider-carousel fd-mobile">
	        					<div id="slide-01" class="slides">

	        						<div class="fragrance-vid" style="position: relative; display: block;">
			                    <div style="padding-top: 56.25%;">
			                        <iframe src="//players.brightcove.net/24953835001/r1Lf66yc_default/index.html?videoId=5835882731001"
			                allowfullscreen
			                webkitallowfullscreen
			                mozallowfullscreen
			                style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%; border: none;"></iframe>
			                    </div>
			                </div>

			                <div class="fragrance-img">
			                	<img src="https://assets.macys.com/dyn_img/creativepages/C8080688_trendingNow_kenzo.png">
			                </div>

			                <div class="fragrance-vid-info">
			                	<h4>KENZO FLOWER</h4>

			                	<p>A celebration of generosity, peace & unity, this bottle is an exploration of positive energy and the power of fragrance in making the world a more beautiful place. Top notes of pink pepper and a base of bourbon vanilla & white musks mingle with floral heart notes for a vibrant and alluring scent.</p>
			                </div>

	        					</div>

	        					<div id="slide-02" class="slides">

	        						<div class="fragrance-vid" style="position: relative; display: block;">
			                    <div style="padding-top: 56.25%;">
			                        <iframe src="//players.brightcove.net/24953835001/r1Lf66yc_default/index.html?videoId=5835882733001"
			                allowfullscreen
			                webkitallowfullscreen
			                mozallowfullscreen
			                style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%; border: none;"></iframe>
			                    </div>
			                </div>

			                <div class="fragrance-img">
			                	<img src="https://assets.macys.com/dyn_img/creativepages/C8080688_trendingNow_jasonWu.png">
			                </div>

			                <div class="fragrance-vid-info">
			                	<h4>JASON WU THE FIRST FRAGRANCE FOR HER</h4>

			                	<p>Incorporating fragrant memories of his childhood in Taiwan, Jason Wu created this delicate-but-powerful fragrance and refined, architectural bottle. Notes of an extravagant floral bouquet & sensual woods, in combination with the smooth glass and pressed-powder feel of the carton, make this bottle and fragrance a work of art&mdash;a true sensory experience.</p>
			                </div>

	        					</div>

	        				</div>
	        				<!-- END SLIDER FOR MOBILE VIDEO SECTION -->

	        				<!-- BEGIN DESKTOP VIDEO SECTION -->
	        				<div class="row fg-tn-row-five-video fd-desktop">
	        					<div class="small-12 columns">
	        						<div class="fragrance-vid" style="position: relative; display: block;">
			                    <div style="padding-top: 56.25%;">
			                        <iframe src="https://players.brightcove.net/24953835001/r1Lf66yc_default/index.html?videoId=5835882733001"
			                allowfullscreen
			                webkitallowfullscreen
			                mozallowfullscreen
			                style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%; border: none;"></iframe>
			                    </div>
			                </div>
			                <div class="fragrance-vid" style="position: relative; display: block;">
			                    <div style="padding-top: 56.25%;">
			                        <iframe src="https://players.brightcove.net/24953835001/r1Lf66yc_default/index.html?videoId=5835882731001"
			                allowfullscreen
			                webkitallowfullscreen
			                mozallowfullscreen
			                style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%; border: none;"></iframe>
			                    </div>
			                </div>
	        					</div>
	        				</div>

	        				<div class="row fg-tn-row-five-info fd-desktop">
	        					<div class="small-12 columns row-five-desk-gray">
	        						<div class="fragrance-vid-info">
			                	<img src="https://assets.macys.com/dyn_img/creativepages/C8080688_trendingNow_jasonWu.png">

			                	<h4>JASON WU THE FIRST FRAGRANCE FOR</h4>

			                	<p>Incorporating fragrant memories of his childhood in Taiwan, Jason Wu created this delicate-but-powerful fragrance and refined, architectural bottle. Notes of an extravagant floral bouquet & sensual woods, in combination with the smooth glass and pressed-powder feel of the carton, make this bottle and fragrance a work of art&mdash;a true sensory experience.</p>
			                </div>

			                <div class="fragrance-vid-info">
			                	<img src="https://assets.macys.com/dyn_img/creativepages/C8080688_trendingNow_kenzo.png">

			                	<h4>KENZO FLOWER</h4>

			                	<p>A celebration of generosity, peace & unity, this bottle is an exploration of positive energy and the power of fragrance in making the world a more beautiful place. Top notes of pink pepper and a base of bourbon vanilla & white musks mingle with floral heart notes for a vibrant and alluring scent.</p>
			                </div>
	        					</div>
	        				</div>
	        				<!-- END DESKTOP VIDEO SECTION -->
								</div>
							</div>
							<img class="fragrance-destination centered fd-desktop" src="https://assets.macysassets.com/dyn_img/creativepages/FRAGRANCE_DESTINATION.png" alt="The Fragrance Destination. Over 250 of the best fragrances in the world">

							<img class="fragrance-destination centered fd-mobile" src="https://assets.macys.com/dyn_img/creativepages/fd-bottom-banner.jpg" alt="The Fragrance Destination. Over 250 of the best fragrances in the world">

							<a href="#top" class="back-to-top fd-desktop">
							    <div class="fd-arrow-up"></div>
							    Back to Top
							</a>
					<!-- FRAGRANCE GUIDE - 982 MAX - TRENDING NOW - MAIN CONTENT -->
						</div>
					</div>
			<!-- END - FRAGRANCE GUIDE - 1280 MAX - TRENDING NOW - BACKGROUND IMAGE -->
				</div>
			</div>
	<!-- END - FRAGRANCE GUIDE - FULL WIDTH - TRENDING NOW - ACCENT BACKGROUND COLOR -->
		</div>
	</div>
</div>

{{! Load  JS Last so DOM is already present }}
<script src="../{{version}}/js/fragrance-guide.manifest.js"></script>
<script src="../{{version}}/js/fragrance-guide.app.js"></script>
