<div class="fragrance-guide-header {{pageNum}}">
	<h2>
		<span class="fragrance-guide-smaller">The Fragrance Destination</span>
		{{fragranceGuideTitle}}
	</h2>
</div>

<div class="fragrance-destination-nav fd-desktop {{pageNum}}" data-page-num="{{pageNum}}">
	<div class="title fd-mobile">Menu</div>
	<ul class="fgd-centered small-12">
		<li class="pageOne small-3 text-left">
			<a href="{{ENV_HOSTNAME}}/p/fragrance-guide/">Scent<br class="fd-desktop"> Explorer</a>
		</li>
		<li class="pageTwo small-3 text-left">
			<a href="{{ENV_HOSTNAME}}/p/fragrance-guide/fragrance-facts/">Fragrance<br class="fd-desktop"> Facts</a>
		</li>
		<li class="pageThree small-3 text-left">
			<a href="{{ENV_HOSTNAME}}/p/fragrance-guide/trending-now/">Trending<br class="fd-desktop"> Now</a>
		</li>
		<li class="pageFour samll-3 text-left">
			<a href="{{ENV_HOSTNAME}}/p/fragrance-guide/fragrance-quiz/">Take<br class="fd-desktop"> the Quiz</a>
		</li>
	</ul>
</div>

<div class="fragrance-destination-nav fd-mobile {{pageNum}}" data-page-num="{{pageNum}}">
	<div class="title fd-mobile">Menu</div>
	<ul class="fgd-centered small-12">
		<li class="pageOne small-3 text-left">
			<a href="{{ENV_HOSTNAME}}/p/fragrance-guide/">Scent<br class="fd-desktop"> Explorer</a>
		</li>
		<li class="pageTwo small-3 text-left">
			<a href="{{ENV_HOSTNAME}}/p/fragrance-guide/fragrance-facts/">Fragrance<br class="fd-desktop"> Facts</a>
		</li>
		<li class="pageThree small-3 text-left">
			<a href="{{ENV_HOSTNAME}}/p/fragrance-guide/trending-now/">Trending<br class="fd-desktop"> Now</a>
		</li>
		<li class="pageFour samll-3 text-left">
			<a href="{{ENV_HOSTNAME}}/p/fragrance-guide/fragrance-quiz/">Take<br class="fd-desktop"> the Quiz</a>
		</li>
	</ul>
</div>
