<div class="row fg-results-container">
  <div class="small-12 columns">
    <!-- FRAGRANCE GUIDE - RUSULTS - ROW ONE -->
    <div class="row fg-quiz-row-one">
      <div class="small-12 columns">
        <h2>YOUR MATCH IS...</h2>
      </div>
    </div>

    <!-- FRAGRANCE GUIDE - RESULTS - ROW TWO -->
    <div class="row fg-quiz-row-two">
      <div class="small-12 columns">
        <!-- CITRUS RESULTS -->
        <div class="quiz-result-citrus">
          <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-citrus-result.png">
          <h3 style="color: #ddd47f;">CITRUS</h3>
          <p class="scent-info">YOUR TASTE IS DELICIOUS. AN OLFACTORY PICK-ME-UP, <br class="show-for-large-up" />NOTES OF BERGAMOT, ORANGE AND LEMON DEFINE THESE <br class="show-for-large-up" />LIGHT AND ENERGETIC SCENTS.</p>

          <ul class="shop-links">
            <li><a href="{{ENV_HOSTNAME}}/catalog/index.ognc?CategoryID=200981">SHOP CITRUS FOR HER</a></li>
            <li><a href="">TAKE IT AGAIN</a></li>
            <li><a href="{{ENV_HOSTNAME}}/catalog/index.ognc?CategoryID=183581">SHOP CITRUS FOR HIM</a></li>
          </ul>

          {{> quizShare }}
        </div>
        <!-- END CITRUS RESULTS -->

        <!-- SPICY RESULTS -->
        <div class="quiz-result-spicy">
          <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-spicy-result.png">
          <h3 style="color: #f88585;">SPICY</h3>
          <p class="scent-info">YOU LIKE YOUR SCENTS WITH A LITTLE KICK. EMPOWER YOURSELF WITH <br class="show-for-large-up" />WARM, SEDUCTIVE NOTES. THINK CINNAMON, NUTMEG AND CLOVER.</p>

          <ul class="shop-links">
            <li><a href="{{ENV_HOSTNAME}}/catalog/index.ognc?CategoryID=200979">SHOP SPICY FOR HER</a></li>
            <li><a href="">TAKE IT AGAIN</a></li>
            <li><a href="{{ENV_HOSTNAME}}/catalog/index.ognc?CategoryID=183582">SHOP SPICY FOR HIM</a></li>
          </ul>

          {{> quizShare }}
        </div>
        <!-- END SPICY RESULTS -->

        <!-- SWEET RESULTS -->
        <div class="quiz-result-sweet">
          <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-sweet-result.png">
          <h3 style="color: #c4b6b6;">SWEET</h3>
          <p class="scent-info">YOU'VE GOT A SWEET TOOTH! <br class="show-for-large-up" />YOU'RE GOING TO LOVE RICH AND APPETIZING NOTES <br class="show-for-large-up" />LIKE MUSK, VANILLA AND CARAMEL.</p>

          <ul class="shop-links">
            <li><a href="{{ENV_HOSTNAME}}/catalog/index.ognc?CategoryID=186561">SHOP SWEET FOR HER</a></li>
            <li><a href="">TAKE IT AGAIN</a></li>
            <li><a href="{{ENV_HOSTNAME}}/catalog/index.ognc?CategoryID=202771">SHOP SWEET FOR HIM</a></li>
          </ul>

          {{> quizShare }}
        </div>
        <!-- END SWEET RESULTS -->

        <!-- FRESH RESULTS -->
        <div class="quiz-result-fresh">
          <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-fresh-result.png">
          <h3 style="color: #7bc4dc;">FRESH</h3>
          <p class="scent-info">YOU'RE A BREATH OF FRESH AIR. <br class="show-for-large-up" />COOL & CRISP NOTES, LIKE WHITE FLOWER AND CITRUS, REFRESH YOUR SENSES.</p>

          <ul class="shop-links">
            <li><a href="{{ENV_HOSTNAME}}/catalog/index.ognc?CategoryID=186560">SHOP FRESH FOR HER</a></li>
            <li><a href="">TAKE IT AGAIN</a></li>
            <li><a href="{{ENV_HOSTNAME}}/catalog/index.ognc?CategoryID=183592">SHOP FRESH FOR HIM</a></li>
          </ul>

          {{> quizShare }}
        </div>
        <!-- END FRESH RESULTS -->

        <!-- WOODSY RESULTS -->
        <div class="quiz-result-woodsy">
          <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-woodsy-result.png">
          <h3 style="color: #93ac85;">WOODSY</h3>
          <p class="scent-info">YOU'RE ONE WITH NATURE. FROM SANDALWOOD TO CEDAR, <br class="show-for-large-up" />OPT FOR NOTES GROUNDED IN A WARM, RICH & EARTHY MUSK.</p>

          <ul class="shop-links">
            <li><a href="{{ENV_HOSTNAME}}/catalog/index.ognc?CategoryID=200980">SHOP WOODSY FOR HER</a></li>
            <li><a href="">TAKE IT AGAIN</a></li>
            <li><a href="{{ENV_HOSTNAME}}/catalog/index.ognc?CategoryID=183593">SHOP WOODSY FOR HIM</a></li>
          </ul>

          {{> quizShare }}
        </div>
        <!-- END WOODSY RESULTS -->

        <!-- FLORAL RESULTS -->
        <div class="quiz-result-floral">
          <img src="https://assets.macys.com/dyn_img/creativepages/C8080688-floral-result.png">
          <h3 style="color: #c8a5d3;">FLORAL</h3>
          <p class="scent-info">YOU'RE BASICALLY A BOTANIST. <br class="show-for-large-up" />FROM ROSES TO JASMINE, FRAGRANT BURSTS OF <br class="show-for-large-up" />NATURE'S BOTANICAL BEAUTY ARE PERFECT FOR YOU..</p>

          <ul class="shop-links">
            <li><a href="{{ENV_HOSTNAME}}/catalog/index.ognc?CategoryID=186559">SHOP FLORAL FOR HER</a></li>
            <li><a href="">TAKE IT AGAIN</a></li>
            <li><a href="{{ENV_HOSTNAME}}/catalog/index.ognc?CategoryID=202772">SHOP FLORAL FOR HIM</a></li>
          </ul>

          {{> quizShare }}
        </div>
        <!-- END FLORAL RESULTS -->
      </div>
    </div>
  </div>
</div>
